body {
  background-color: #eceff4;
  font-family: monospace;
  margin: 40px;
  color: #2e3440;
}
.darkmode {
  background-color: #2e3440;
  font-family: monospace;
  margin: 40px;
  color: #eceff4;
}

::selection {
  background: #4c566a;
  color: #eceff4;
}

::-moz-selection {
  background: #4c566a;
  color: #eceff4;
}

a {
  color: #5e81ac;
  font-style: italic;
}

a:hover {
  color: #81a1c1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  max-width: 600px;
  margin: auto;
  justify-content: center;
}

hr {
  border: none;
  height: 1px;
  color: #2e3440;
  background-color: #2e3440;
  width: 600px;
}

.old-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  max-width: 600px;

  text-indent: 30px;
}

.blogImg {
  mix-blend-mode: hard-light;
  width: 100%;
  display: block;
}

.blogImgContainer {
  background-color: #5e81ac;
  mix-blend-mode: multiply;
}

footer {
  /* background-color: #eceff4; */
  text-align: center;
  margin: auto;
}
.gr_grid {
  border: 1px solid #5e81ac;
  min-width: 85px;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: stretch;
}
.gr_grid_book_container {
  float: left;
  margin: 10px;
  overflow: hidden;
}

.thumbnail {
  float: left;
  overflow: hidden;
  margin: 10px;
  width: 75px;
  height: 110px;
  image-rendering: -webkit-optimize-contrast;
}

.darkBlogImgContainer {
  mix-blend-mode: exclusion !important;
}
