body {
  background-color: #d4dada;
  font-family: "IBM Plex Mono";
  margin: 40px;
}

a {
  color: #556699;
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  justify-content: center;
}

article {
  width: 700px;
  min-width: 700px;
  text-indent: 30px;
}

img {
  mix-blend-mode: hard-light;
  width: 100%;
  display: block;
}

.img {
  background-color: #556699;
  mix-blend-mode: multiply;
}

footer {
  background-color: #d4dada;
  text-align: center;
  margin: auto;
}
