body {
  background-color: #d4dad;
  font-family: "IBM Plex Mono";
  text-indent: 30px;

  margin: 40px;
}

a {
  color: #556699;
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 700px;
  min-width: 700px;
}

img {
  mix-blend-mode: hard-light;
  width: 100%;
  max-width: 40vw;
  display: block;
}

.img {
  background-color: #556699;
  mix-blend-mode: multiply;
}
